* {
  margin: 0px;
  padding: 0px;
}

.btn-bl {
  background-color: black;
  color: white;
  margin-left: 50px;
}

.btn-bl :hover {
  background-color: rgb(222, 213, 213);
  color: black;
}

@media (max-width: 767px) {
  .dis {
    display: block !important;
  }
}

@media (min-width: 767px) {
  .dis2 {
    display: block !important;
  }
}

.heading {
  font-size: 70px;
  color: black;
  margin-left: 50px;
  margin-top: 40px;
  font-weight: bolder;
}

.paragraph {
  font-size: 17px;
  color: grey;
  font-weight: normal;
  margin-left: 50px;

}

@media (max-width: 768px) {
  .heading {
    font-size: 40px;
    margin-left: 1px;
    margin-right: -55px;
    padding-left: -20px;
    padding-right: -20px;
  }

  .paragraph {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-left: 16px;
  }

  .paragraph br {
    display: none;
  }

  .heading br {
    display: none;
  }

  .btn-bl {
    margin-left: 130px;
  }
}